<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(ShopLayout)">
                <NotAuthorized>
                    <h3>Упс! Вам запрещено просматривать эту страницу.</h3>
                    <h5> Пожалуйста 
                        <a href="login">login

                        </a> 
                        или
                        <a href="register">register

                        </a> для создания новой учетной записи.
                    </h5>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(ShopLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

